# General
.DS_Store
.AppleDouble
.LSOverride
#.RData
.Rhistory

#data 
*.db
*.xcf
img/slides/*
*slide*
_extensions/*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Bookdown intermediate files
docs/*.md
.Rproj.user
*_files/
_main*
