# General
.DS_Store
.AppleDouble
.LSOverride
#.RData
.Rhistory

#data 
*.db
*.xcf
img/slides/*
*slides.html
_extensions/*
database_slides_files/
docs/_main_files/
database_slides.pdf

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Bookdown intermediate files
docs/*.md
.Rproj.user
_main.rds
_bookdown_files/

